<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>FLOW</title>

  <link rel="stylesheet" th:href="@{/css/index.css}">
</head>
<body>
<div class="container">

  <div class="first-box"> <!-- 첫번째줄, column -->
    <div class="fixed-extension-title">
      고정 확장자
    </div>
    <div class="fixed-extension-list"> <!--row로 주자.-->
      <div>
        <input class="fixed-extension-item" id="bat" type="checkbox" name="type">
        <label for="bat">bat</label>
      </div>
      <div>
        <input class="fixed-extension-item" id="cmd" type="checkbox" name="type">
        <label for="cmd">cmd</label>
      </div>
      <div>
        <input class="fixed-extension-item" id="com" type="checkbox" name="type">
        <label for="com">com</label>
      </div>
      <div>
        <input class="fixed-extension-item" id="cpl" type="checkbox" name="type">
        <label for="cpl">cpl</label>
      </div>
      <div>
        <input class="fixed-extension-item" id="exe" type="checkbox" name="type">
        <label for="exe">exe</label>
      </div>
      <div>
        <input class="fixed-extension-item" id="scr" type="checkbox" name="type">
        <label for="scr">scr</label>
      </div>
      <div>
        <input class="fixed-extension-item" id="js" type="checkbox" name="type">
        <label for="js">js</label>
      </div>
    </div>
  </div>

  <div class="second-box"> <!--여긴 row로-->
    <div class="custom-extension-title">
      커스텀 확장자
    </div>
    <div class="inner-box">
      <div class="custom-extension-add">
        <input placeholder="확장자 입력"/>
        <input type="button" value="+추가"/>
      </div>

      <div class="custom-extension-list">
        <div class="custom-extension-count">
          3/200
        </div>
        <div class="custom-extension-items" >
          <div class="custom-extension-item" th:each="type:${fileTypes}" th:id="|custom-${type.getTypeName()}|">
            <span class="custom-extension-title" th:text="${type.getTypeName()}"></span>
            <span class="custom-extension-delete-button">X</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <form method="post" th:action="@{/}" th:object="${request}" enctype="multipart/form-data">
    <div id="upload-file"> <!--파일 업로드-->
      <input type="file" th:name="file">
      <input type="button" value="전송">
    </div>
  </form>
</div>

</body>
</html>